Easy/Node-Red/easyIrrigationFlow.json
[
    {
        "id": "c3edba2ed3c774af",
        "type": "tab",
        "label": "Bewässerung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e8296334b320df3e",
        "type": "serial out",
        "z": "c3edba2ed3c774af",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "a253e69280a3b3f7",
        "type": "function",
        "z": "c3edba2ed3c774af",
        "name": "create Msg V1",
        "func": "/*\n  10: Ventil 1 aus\n  11: Ventil 1 an\n*/\nif(msg.payload==true){\n    msg.payload = 11;\n}else{\n    msg.payload = 10;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "e8296334b320df3e",
                "6308d534c4acb3c1"
            ]
        ]
    },
    {
        "id": "1987ec96ce23dfa7",
        "type": "function",
        "z": "c3edba2ed3c774af",
        "name": "create Msg V2",
        "func": "/*\n  20: Ventil 1 aus\n  21: Ventil 1 an\n*/\nif(msg.payload==true){\n    msg.payload = 21;\n}else{\n    msg.payload = 20;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "e8296334b320df3e",
                "6308d534c4acb3c1"
            ]
        ]
    },
    {
        "id": "076926497e0bfcbb",
        "type": "serial in",
        "z": "c3edba2ed3c774af",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "6151913f76291704",
                "984c3de79493a7c4"
            ]
        ]
    },
    {
        "id": "391c351ea7361f86",
        "type": "ui_switch",
        "z": "c3edba2ed3c774af",
        "name": "",
        "label": "V2",
        "tooltip": "",
        "group": "1ec0ff4e11c44f79",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "1987ec96ce23dfa7"
            ]
        ]
    },
    {
        "id": "f8e5b65ebf727408",
        "type": "ui_switch",
        "z": "c3edba2ed3c774af",
        "name": "",
        "label": "V1",
        "tooltip": "",
        "group": "1ec0ff4e11c44f79",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a253e69280a3b3f7"
            ]
        ]
    },
    {
        "id": "6151913f76291704",
        "type": "function",
        "z": "c3edba2ed3c774af",
        "name": "split msg",
        "func": "const firstChar = msg.payload[0];\nconst secondChar = msg.payload[1];\n\nmsg.payload = secondChar;\n\nif (firstChar === \"1\") {\n    return [null, msg];\n} else if (firstChar === \"2\") {\n    return [msg, null];\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "b7dce0ff6887c74a"
            ],
            [
                "c507bc557cdbb115"
            ]
        ]
    },
    {
        "id": "b7dce0ff6887c74a",
        "type": "ui_gauge",
        "z": "c3edba2ed3c774af",
        "name": "",
        "group": "e97917d190db686a",
        "order": 4,
        "width": 1,
        "height": 1,
        "gtype": "donut",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#c0c4c0",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "c507bc557cdbb115",
        "type": "ui_gauge",
        "z": "c3edba2ed3c774af",
        "name": "",
        "group": "e97917d190db686a",
        "order": 2,
        "width": 1,
        "height": 1,
        "gtype": "donut",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#c0c4c0",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "984c3de79493a7c4",
        "type": "debug",
        "z": "c3edba2ed3c774af",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 240,
        "wires": []
    },
    {
        "id": "6308d534c4acb3c1",
        "type": "debug",
        "z": "c3edba2ed3c774af",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdfb3b6e903c3e14",
        "type": "ui_spacer",
        "z": "c3edba2ed3c774af",
        "name": "spacer",
        "group": "e97917d190db686a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e0fb6fdf74f0a83c",
        "type": "ui_spacer",
        "z": "c3edba2ed3c774af",
        "name": "spacer",
        "group": "e97917d190db686a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "9cd28dcf27b3a192",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "1ec0ff4e11c44f79",
        "type": "ui_group",
        "name": "Steuerung",
        "tab": "f005a1bd4c96ac8f",
        "order": 1,
        "disp": true,
        "width": 2,
        "collapse": false
    },
    {
        "id": "e97917d190db686a",
        "type": "ui_group",
        "name": "Rückmeldung",
        "tab": "f005a1bd4c96ac8f",
        "order": 2,
        "disp": true,
        "width": 2,
        "collapse": false
    },
    {
        "id": "f005a1bd4c96ac8f",
        "type": "ui_tab",
        "name": "Für Mama",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]