Easy/Node-Red/easyflow.json
[
    {
        "id": "c87fc510123f352e",
        "type": "tab",
        "label": "TestFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8723630b93a9281c",
        "type": "tab",
        "label": "Bewässerung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c7290f3ca92813a",
        "type": "ui_tab",
        "name": "TestDashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "63dc206f91a2cca6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "01021390c8989496",
        "type": "ui_group",
        "name": "Testing",
        "tab": "8c7290f3ca92813a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9cd28dcf27b3a192",
        "type": "serial-port",
        "serialport": "COM18",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "22bbeef044e51253",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.236",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "db9b376f6277930e",
        "type": "ui_tab",
        "name": "Für Mama",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d95ffa15262af735",
        "type": "ui_group",
        "name": "Bewässerungssteuerung",
        "tab": "db9b376f6277930e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f84816199443de77",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "02fd2158bf511be7",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb83e1b4806bc0cd",
        "type": "switch",
        "z": "c87fc510123f352e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "74cbe2fc92434194"
            ],
            [
                "0cc3e51b4fda2223"
            ]
        ]
    },
    {
        "id": "74cbe2fc92434194",
        "type": "change",
        "z": "c87fc510123f352e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "02fd2158bf511be7"
            ]
        ]
    },
    {
        "id": "0cc3e51b4fda2223",
        "type": "change",
        "z": "c87fc510123f352e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "9de1b0ad6a2945c3"
            ]
        ]
    },
    {
        "id": "9de1b0ad6a2945c3",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ff0a7380667fb52",
        "type": "mqtt in",
        "z": "c87fc510123f352e",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "22bbeef044e51253",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "e52685efb8841c2e"
            ]
        ]
    },
    {
        "id": "e52685efb8841c2e",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "f12097dd07821937",
        "type": "mqtt in",
        "z": "c87fc510123f352e",
        "name": "",
        "topic": "gate/userrequest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "22bbeef044e51253",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "0d1455849d3ed415"
            ]
        ]
    },
    {
        "id": "0d1455849d3ed415",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "fd3ddd491cd75791",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "988904762fa7f17c",
        "type": "function",
        "z": "c87fc510123f352e",
        "name": "JSON format",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "cf9f6d74b2fe53d9",
        "type": "function",
        "z": "c87fc510123f352e",
        "name": "create msg",
        "func": "var data =\n{\n    \"Address\": 255,\n    \"state\": msg.payload\n}\n/*{\n    \"Valve1\": {\n        \"Address\": 255,\n        \"state\": msg.payload\n    }\n}*/  \n\nmsg.topic = 'gate/userrequest';\nmsg.payload = JSON.stringify(data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 360,
        "wires": [
            [
                "fd3ddd491cd75791"
            ]
        ]
    },
    {
        "id": "689eaf869cd67549",
        "type": "serial in",
        "z": "c87fc510123f352e",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "f84816199443de77"
            ]
        ]
    },
    {
        "id": "7bbcfcc4a46d531c",
        "type": "mqtt out",
        "z": "c87fc510123f352e",
        "name": "",
        "topic": "com/nodered",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "22bbeef044e51253",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "1eb464d3ebaa2c10",
        "type": "inject",
        "z": "c87fc510123f352e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "7bbcfcc4a46d531c"
            ]
        ]
    },
    {
        "id": "6c74e7fd2e36af71",
        "type": "mqtt out",
        "z": "c87fc510123f352e",
        "name": "",
        "topic": "gate/userrequest",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "22bbeef044e51253",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "8bb4d8c48cca5734",
        "type": "mqtt out",
        "z": "c87fc510123f352e",
        "name": "",
        "topic": "com/nodered",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "22bbeef044e51253",
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "bf55ef2cfe90ed1b",
        "type": "debug",
        "z": "c87fc510123f352e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 420,
        "wires": []
    },
    {
        "id": "c1e9b84dfed8a817",
        "type": "ui_switch",
        "z": "c87fc510123f352e",
        "name": "",
        "label": "Valve1",
        "tooltip": "",
        "group": "01021390c8989496",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "8bb4d8c48cca5734",
                "bf55ef2cfe90ed1b"
            ]
        ]
    },
    {
        "id": "666c83e6d3362b04",
        "type": "ui_switch",
        "z": "c87fc510123f352e",
        "name": "",
        "label": "switch_serial",
        "tooltip": "",
        "group": "01021390c8989496",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "cb83e1b4806bc0cd"
            ]
        ]
    },
    {
        "id": "e3ed7793aaf550cf",
        "type": "serial out",
        "z": "8723630b93a9281c",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "cdf9869cd9816aae",
        "type": "function",
        "z": "8723630b93a9281c",
        "name": "create Msg V1",
        "func": "/*\n  10: Ventil 1 aus\n  11: Ventil 1 an\n*/\nif(msg.payload==true){\n    msg.payload = 11;\n}else{\n    msg.payload = 10;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "e3ed7793aaf550cf"
            ]
        ]
    },
    {
        "id": "e15501264bc3d054",
        "type": "function",
        "z": "8723630b93a9281c",
        "name": "create Msg V2",
        "func": "/*\n  20: Ventil 1 aus\n  21: Ventil 1 an\n*/\nif(msg.payload==true){\n    msg.payload = 21;\n}else{\n    msg.payload = 20;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "e3ed7793aaf550cf"
            ]
        ]
    },
    {
        "id": "4450acc981126621",
        "type": "inject",
        "z": "8723630b93a9281c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "63e8ff2592161026"
            ]
        ]
    },
    {
        "id": "1c8501067134afb5",
        "type": "serial in",
        "z": "8723630b93a9281c",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 130,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a8d341899642c59f",
        "type": "ui_switch",
        "z": "8723630b93a9281c",
        "name": "",
        "label": "V2",
        "tooltip": "",
        "group": "d95ffa15262af735",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "e15501264bc3d054"
            ]
        ]
    },
    {
        "id": "c667f77185ddde89",
        "type": "ui_switch",
        "z": "8723630b93a9281c",
        "name": "",
        "label": "V1",
        "tooltip": "",
        "group": "d95ffa15262af735",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "cdf9869cd9816aae"
            ]
        ]
    },
    {
        "id": "63e8ff2592161026",
        "type": "ui_led",
        "z": "8723630b93a9281c",
        "order": 2,
        "group": "d95ffa15262af735",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 310,
        "y": 280,
        "wires": []
    }
]