Easy/Node-Red/easyIrrigationFlow.json
[
    {
        "id": "823e8b7aabfc2916",
        "type": "tab",
        "label": "Bewässerung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ff0f9525fc1027c",
        "type": "serial out",
        "z": "823e8b7aabfc2916",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "456e46b83a87721b",
        "type": "function",
        "z": "823e8b7aabfc2916",
        "name": "create Msg V1",
        "func": "/*\n  10: Ventil 1 aus\n  11: Ventil 1 an\n*/\nif(msg.payload==true){\n    msg.payload = 11;\n}else{\n    msg.payload = 10;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "8ff0f9525fc1027c",
                "f80214abc214e872"
            ]
        ]
    },
    {
        "id": "2644aed6e70a265d",
        "type": "function",
        "z": "823e8b7aabfc2916",
        "name": "create Msg V2",
        "func": "/*\n  20: Ventil 1 aus\n  21: Ventil 1 an\n*/\nif(msg.payload==true){\n    msg.payload = 21;\n}else{\n    msg.payload = 20;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "8ff0f9525fc1027c",
                "f80214abc214e872"
            ]
        ]
    },
    {
        "id": "334dd460cc478c6d",
        "type": "serial in",
        "z": "823e8b7aabfc2916",
        "name": "",
        "serial": "9cd28dcf27b3a192",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "9ce74cc0bc7abe45",
                "0d0053b8a7178afa"
            ]
        ]
    },
    {
        "id": "b29d9a93e41e97b0",
        "type": "ui_switch",
        "z": "823e8b7aabfc2916",
        "name": "",
        "label": "V2",
        "tooltip": "",
        "group": "fc685e33b3c8a824",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "2644aed6e70a265d"
            ]
        ]
    },
    {
        "id": "d7de037411c74132",
        "type": "ui_switch",
        "z": "823e8b7aabfc2916",
        "name": "",
        "label": "V1",
        "tooltip": "",
        "group": "fc685e33b3c8a824",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "456e46b83a87721b"
            ]
        ]
    },
    {
        "id": "9ce74cc0bc7abe45",
        "type": "function",
        "z": "823e8b7aabfc2916",
        "name": "split msg",
        "func": "// split messages by length and first Char\n// can be reduced to\n//const firstChar = msg.payload[0];\n//const secondChar = msg.payload[1];\n//msg.payload = secondChar;\n//if (firstChar === \"1\") {\n //   return [null, msg];\n//} else if (firstChar === \"2\") {\n//    return [msg, null];\n//} \n\nconst firstChar = msg.payload[0];\nconst secondChar = msg.payload[1];\n\n//msg.payload = secondChar;\n\nif (msg.payload.length == 4){\n    if (firstChar === \"1\") {\n        msg.length = msg.payload.length;\n        msg.payload = secondChar;\n        return [msg, null, null];\n    } else if (firstChar === \"2\") {\n        msg.length = msg.payload.length;\n        msg.payload = secondChar;\n        return [null, msg, null];\n    }\n}\n\nmsg.payload = msg.payload;\nmsg.length = msg.payload.length;\nreturn [null, null, msg];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "c54878b892f94242",
                "bcec7946e7631b7d",
                "5a9f7c73888755f6"
            ],
            [
                "b86b0abce6d5d99d",
                "661d05cbcbdae801",
                "db1a808c0fce87af"
            ],
            [
                "cb8bf8c20be9b091",
                "880220a4d599e410"
            ]
        ]
    },
    {
        "id": "0d0053b8a7178afa",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "f80214abc214e872",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "b86b0abce6d5d99d",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "c54878b892f94242",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb8bf8c20be9b091",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "880220a4d599e410",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "661d05cbcbdae801",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "db1a808c0fce87af",
        "type": "ui_gauge",
        "z": "823e8b7aabfc2916",
        "name": "V2",
        "group": "fecf2a663e5ec9b9",
        "order": 4,
        "width": 1,
        "height": 1,
        "gtype": "donut",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#c0c4c0",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "bcec7946e7631b7d",
        "type": "ui_gauge",
        "z": "823e8b7aabfc2916",
        "name": "V1",
        "group": "fecf2a663e5ec9b9",
        "order": 2,
        "width": 1,
        "height": 1,
        "gtype": "donut",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#c0c4c0",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "5a9f7c73888755f6",
        "type": "debug",
        "z": "823e8b7aabfc2916",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "651642621c5da823",
        "type": "ui_spacer",
        "z": "823e8b7aabfc2916",
        "name": "spacer",
        "group": "fecf2a663e5ec9b9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e08692aa15c83bbd",
        "type": "ui_spacer",
        "z": "823e8b7aabfc2916",
        "name": "spacer",
        "group": "fecf2a663e5ec9b9",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "9cd28dcf27b3a192",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "fc685e33b3c8a824",
        "type": "ui_group",
        "name": "Steuerung",
        "tab": "f9db1b10d6969bf9",
        "order": 1,
        "disp": true,
        "width": 2,
        "collapse": false
    },
    {
        "id": "fecf2a663e5ec9b9",
        "type": "ui_group",
        "name": "Rückmeldung",
        "tab": "f9db1b10d6969bf9",
        "order": 2,
        "disp": true,
        "width": 2,
        "collapse": false
    },
    {
        "id": "f9db1b10d6969bf9",
        "type": "ui_tab",
        "name": "Für Mama",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]